colorama==0.4.6
Cython==3.0.11
DCNv2.egg==info
env==0.1.0
h5py==3.12.1
matplotlib==3.7.5
numpy==1.22.0
onnx==1.17.0
onnx_graphsurgeon==0.5.2
opencv_python==4.10.0.84
packaging==24.2
Pillow==11.0.0
pycocotools==2.0.7
pyrealsense2==2.55.1.6486
pyttsx3==2.98
scikit_learn==1.6.0
scipy==1.14.1
setuptools==72.2.0
tensorrt==10.7.0
torch==1.12.0a0+2c916ef.nv22.3
torchvision==0.20.1
